<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebase_mlvision_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <meta-data
      android:name="com.google.firebase.ml.vision.DEPENDENCIES"
      android:value="ocr,face,barcode,label"/>
    <!-- To use multiple models: android:value="ocr,label,barcode,face" -->
</manifest>
